<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-primary text-white mb-2">
    <a id="homeNavLink" class="navbar-brand text-white" [routerLink]="['/']" >EducAPIFront</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a id="authorNavLink" class="nav-link text-white" [routerLink]="['/contexts']">Contexts</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a id="authorNavLink" class="nav-link text-white" [routerLink]="['/challenges']">Challenges</a>
            </li>
        </ul>
    </div>
</nav>